.search-bar
{
    width: 210px;
    border-radius: 6px;
    height: 40px;
    background: rgb(246,246,246);
    background: linear-gradient(90deg, rgba(246,246,246,1) 0%, rgba(15, 15, 15, 0.678) 50%, rgba(255, 255, 255, 0.396) 84%);
    color: aliceblue;
    margin: 34px;
}
.coin-text
{
  padding: 10px;
  padding-top: 25px;
}